/*
google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



li,
.btn__log-sing {
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}