// color variaboles start 

$primary-color:#FF7757;
$primary-color-2:#FFA48F;
$primary-color-3:#FFBBAB;
$primary-color-4:#FFD2C7;
$primary-color-5:#FFE4DD;
$primary-color-6:#D46349;
$white-color:#FFFFFF;
$secondary-color:#331811;
$secondary-color-2:#55281D;
$secondary-color-3:#61291C;

// color variaboles end 