/*
header section start
*/
.header {
    padding: 32px 0;
    background-color: $secondary-color;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__log svg {
            color: $white-color;
            transition: all .3s;

            &:hover {
                color: $primary-color;
            }
        }

        .nav__ber {
            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 32px;

                li {
                    a {
                        color: $white-color;
                    }
                }
            }
        }

        .login__singUp {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5px;

            .btn__log-sing {
                padding: 20px 32px;
                border-radius: 12px;
                color: white;
                transition: all .3s;

                &:hover {
                    background-color: $primary-color;
                }
            }

            .singup__btn {
                background-color: $primary-color;
            }
        }
    }
}

/*
header section end
*/